{{#if data.notifications_coach}}
<div class="alert alert-primary" role="alert">
    <b> Vous avez des feuilles de match a valider </b>
</div>
{{/if}}

<h1>L'improvisation théâtrale</h1>

<p>L'improvisation théâtrale est le lieu du théâtre contemporain où, durant la 
représentation, l’acteur est à la fois dramaturge, metteur en scène, scénographe 
et acteur. L'improvisateur joue devant un public sans texte prédéfini et sans 
mise en scène préalable, selon un temps donné et selon ce que lui inspire le 
thème de l'arbitre. L'improvisation, plus communément appelé « impro » dans le 
milieu, fait appel aux différentes techniques de l'art dramatique mais aussi au 
chant et à la danse, et permet de développer la créativité, l'écoute et l'échange 
chez le comédien. Le théâtre d'improvisation est une technique de jeu dramatique 
utilisant l'improvisation théâtrale, soit le jeu non-préparé (mis à part le caucus 
de généralement 10 secondes avec son équipe) devant un public.</p>

<b>Définition</b>
<p>L'improvisation est un élément important de la formation de l'acteur, employée dans la plupart des cours d'art dramatique. Elle peut être utilisée par les acteurs pendant les répétitions d'une pièce de théâtre, ou pendant la recherche sur la construction psychologique de leurs personnages.</p>

<b>De l'improvisation à l'improvisation théâtrale</b>
<p>L'improvisation peut également constituer le principe fondamental d'un spectacle, comme pour la commedia dell'arte, les spectacles d'improvisation (Match d'improvisation, Café-théâtre d'improvisation, Catch impro...) et souvent le théâtre de rue. Elle devient alors un enseignement à part entière, avec des techniques particulières, c'est ce que l'on appelle communément l'improvisation théâtrale.</p>

<b>Spectacle d'improvisation</b>
<p>Le spectacle d'improvisation est une création théâtrale sans texte préécrit, sans répétitions de la part des comédiens (ce qui n'exclut pas un travail régulier lors d’entraînements pour affûter son corps et son esprit). Les comédiens sont amenés à réaliser une improvisation sous plusieurs critères : le temps d'improvisation, le thème, le nombre de joueurs par équipes et la particularité de l'improvisation.
Ce genre existe depuis des siècles puisque les tragédies grecques elles-mêmes n'avaient qu'une trame d'histoire et des personnages, les textes joués étant alors improvisés par chaque troupe qui le jouaient (tradition orale de la transmission qui forcément induit une part de liberté dans le jeu) puis on la retrouve dans la Commedia dell'arte où, là aussi, seules les histoires existent ainsi que les personnages mais pas de textes en tant que tels.
L'improvisation en tant que technique théâtrale mais surtout en tant que spectacle est de plus en plus répandue. Elle tend à être considérée comme une discipline à part entière.</p>

<b>L'improvisation d'aujourd'hui</b>
<p>Lors de ces spectacles interactifs, un thème (un ou plusieurs mots, voire une courte phrase par exemple) est souvent proposé aux comédiens (par le public ou par un tiers). Ces derniers improvisent alors ensemble pendant plusieurs minutes en construisant une histoire, des personnages, des décors à partir de ce thème de départ.
L'objectif pour les comédiens improvisateurs est de jouer ensemble en intégrant positivement chaque idée proposée par ses acolytes. Ceci par le biais de différentes règles de jeu qui sont celles du théâtre en général mais dans l'instant et sans période de réflexion de plus de quelques secondes. (Caucus)
Une ou plusieurs improvisations peuvent s'enchaîner pour créer un spectacle complet.</p>

<b>Vers une improvisation plus libre</b>
<p>Il existe plusieurs formules de base pour les spectacles d'improvisation: la plus connue dans le monde francophone est le match d'improvisation inventée à Montréal . Dans les pays anglophones, c'est plutôt le format Theatresports. Mais de nombreux autres formats ont vu le jour depuis plus ou moins inspirés des deux formats cités.</p>

<b>Le match d'improvisation et ses formes dérivées</b>
<p>Le match d'improvisation théâtrale a été créé en 1977 au Québec, via le Théâtre Expérimental de Montréal, par Robert Gravel, qui avec plusieurs comédiens et amis posa les règles du match d'improvisation. Le format de compétition fut décrié par les comédiens mais applaudi par le public. Bien accueilli, de nombreuses écoles (primaires et Lycées) ont leurs propres équipes et des championnats sont alors créés. Dans le reste de la francophonie mais pas uniquement, le format s'est alors répandu.
De nombreuses ligues ont joué le match et de ce format ont développé (en s'éloignant plus ou moins du format original) des formes de spectacles nouvelles.</p>

<b>Café-théâtre</b>
<p>L'improvisation théâtrale ne se limite pas seulement au « match d'impro ». Dès les années 1990, des improvisateurs francophones commencèrent à chercher dans d'autres directions pour créer d'autres formats de spectacles, s'inspirant ainsi, parfois sans le savoir, des recherches anglophones.
De nombreux café théâtres proposent aujourd'hui des spectacles improvisés dans leur programmation, la discipline s'étant popularisée.
À Lyon a même été créé le premier théâtre de France consacré à l'improvisation. Ouvert en octobre 2014, l'Improvidence propose tous les jours des spectacles improvisés de tous types ainsi que des formations à l’improvisation théâtrale.
De nombreux spectacles d'improvisation ne sont en aucune manière basés sur la compétition ou un quelconque modèle sportif. Quelques exemples :</p>

<b>Le Deus ex Machina</b>
<p>En 2000, des comédiens québécois provenant de ligues d'Impro de Montréal et de Saint-Hyacinthe ont ramené, dans leurs bagages, une nouvelle forme de spectacle d'improvisation : le Deus ex Machina.
L'idée est simple : jouer, à partir de deux mots tirés au hasard par le public, deux improvisations différentes de 45 minutes chacune. Pour faciliter l'exercice, un présentateur en coulisse peut à tout moment intervenir dans l'histoire, la stopper ou lui donner une autre direction en donnant des indications aux comédiens présents sur scène : faire, en quelque sorte, de la mise en scène en direct...
La première mouture française de ce spectacle a été présentée à Rennes avec une équipe franco-québécoise, sans musicien ni régisseur lumière, avec quelques accessoires et un livre de poche pour tirer un mot au hasard.</p>

<b>Le Catch-Impro</b>
<p>La compagnie Inédit Théâtre à Strasbourg a créé en 1999 avec l'aide de la compagnie Tadam de Bruxelles un des concepts le plus joué aujourd'hui en France : le catch-impro. Le catch-impro a franchi les frontières de l’hexagone pour s’envoler en Suisse, en Belgique et au Québec.
Le déroulement du spectacle : après une entrée tonitruante et spectaculaire des 2 duos de catcheurs, l’arbitre est maître du jeu. À partir des sujets écrits par les spectateurs, il imposera ses contraintes aux catcheurs et ne leur laissera aucun répit en passant d’une catégorie de jeu à une autre radicalement différente (chanson, personnages multiples ou langues étrangères ne sont que quelques exemples de l’imagination débordante de l’arbitre).</p>

<b>Le théâtre de rue</b>
<p>Le théâtre de rue fait aussi appel à l'improvisation de par la nature changeante, interactive, de la relation avec le public et l'environnement. Le concept même du théâtre de rue est basé dessus. Tout spectacle de rue doit un jour où l'autre faire face à des modifications du jeu, malgré une écriture en amont, afin de gérer les imprévus liés à la spécificité de la rue (bruits, interruptions, membres du public intervenant dans le jeu des comédiens). Il existe néanmoins dans la plupart des cas un scénario initial, on pourrait donc rapprocher cette pratique de la commedia dell'arte ou des lazzi.</p>

<b>L'improvisation théâtrale en entreprise</b>
<p>L'improvisation est de plus en plus sollicitée par le monde de l'entreprise. Ses principes de construction en commun, d'écoute des autres, d'acceptation et de partage des idées, de réactivité et d'imagination font que de grandes et petites entreprises européennes font appel à des artistes improvisateurs, généralement sous deux formes : la formation (cohésion d'équipe, prise de parole, créativité…) et les spectacles ou événementiels (animations, impostures, shows thématiques etc. Depuis 1996, les Improvisades réunissent en France des équipes d'improvisation issues exclusivement d'entreprises et de grandes école et universités. Cette manifestation originale est la vitrine des valeurs ci-dessus énoncées de l'impro : écoute, partage, cohésion, et créativité.</p>

<b>Soundpainting</b>
<p>L'improvisation théâtrale est une des disciplines utilisées dans le soundpainting, langage gestuel de création artistique en temps réel, souvent associée à la musique et la danse.</p>

<b>L'Atelier/cours d'Improvisations théâtrales</b>
<p>Pour citer l'animateur et médiateur théâtre Christophe Nançoz : « L'atelier d'improvisations théâtrales est un lieu d'expérimentation, un laboratoire. C'est un lieu, un espace consacré à la fabrication, à l'élaboration et à la création ». L'atelier se distingue du match d'improvisation en ce sens que les participants sont à la fois spectateur et à la fois improvisateur. Il n'y a pas de représentations face à un public extérieur.</p>

<b>Autres</b>
<p>Des compagnies professionnelles mélangent avec le théâtre, la musique, la danse, la vidéo, la peinture, pour des résultats surprenants et originaux, toujours en improvisation totale.</p>

<b>L'improvisation amateur et professionnelle</b>
<p>Depuis plusieurs années, des dizaines de ligues ou d'association d'improvisation se créent partout et pour tous (écoles, MJC, Collèges, Lycées et Associations). Elles ont toutes pour but de diffuser auprès du grand public, les techniques de l'improvisation dans le cadre d'ateliers et aussi d'organiser des spectacles. Il y règne généralement une bonne ambiance et un esprit de groupe, le plaisir étant un des moteurs du théâtre d'improvisation.
En France, depuis 1995, plusieurs compagnies professionnelles d'improvisation ont été créées par des comédiens issus d'anciennes ligues amateurs. Ces compagnies d'improvisation sont souvent innovantes et proposent leur services aux entreprises pour l'animation de leurs événements. En 2000, les ligues professionnelles françaises pratiquant uniquement le match d'improvisation ont créé un réseau intitulé « LIF PRO ».
En 2018, Paris accueille la conférence mondiale de l'improvisation appliquée.
En Suisse, l'improvisation théâtrale à aussi une importance, surtout en Suisse romande avec notamment : l'« Association vaudoise des ligues d'improvisation » (AVLI) et « Impro Riviera Events » (IRE). Qui anime et fait vivre avec ferveur l'improvisation théâtrale en Suisse.</p>
