
<style>
  body {
  background-image:  rgba(255,0,0,0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  
}
 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
input[type=textCEGEP] {
  width: 175%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid black;
}
input[type=textPOINT]{
    width:30%;
    padding:0px 0px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid black;
}

</style>

<body>
    <form action="match" method="POST" >
        <h1 class="text-center mb-5" style="margin-top: 80px;">Nouvelle Equipe</h1>
            <div class="form-row">
                <div class="form-inline col-md-6">
                    <label  for="inputEquipeHote1">Équipe  : </label>
                    <input type="text" class="form-control" name="inputNomEquipe" id="inputNomEquipe" placeholder="Equipe">
                </div>

            </div>

            <div class="container">
                <div class="form-row mb-5">
                    <div class="col-lg">
                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="inputNumeroJoueur1">Num.</label>
                                <input type="text" class="form-control" name="inputNumeroJoueur1" id="inputNumeroJoueur1" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <label for="inputNomJoueur1">Nom des interprètes</label>
                                <input type="text" class="form-control" name="inputNomJoueur1" id="inputNomJoueur1" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur2" id="inputNumeroJoueur2" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur2" id="inputNomJoueur2" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur3" id="inputNumeroJoueur3" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur3" id="inputNomJoueur3" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur4" id="inputNumeroJoueur4" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur4" id="inputNomJoueur4" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur5" id="inputNumeroJoueur5" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur5" id="inputNomJoueur5" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur6" id="inputNumeroJoueur6" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur6" id="inputNomJoueur6" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur7" id="inputNumeroJoueur7" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur7" id="inputNomJoueur7" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" name="inputNumeroJoueur8" id="inputNumeroJoueur8" placeholder="#">
                            </div>
                            <div class="form-group col-md-5">
                                <input type="text" class="form-control" name="inputNomJoueur8" id="inputNomJoueur8" placeholder="Nom">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg">
                        <div class="form-row">
                            <div class="form-inline col-md-8">
                                <label for="inputEntraineurHote1">Ent.</label>
                                <input type="text" class="form-control" name="inputEntraineurHote1" id="inputEntraineurHote1" placeholder="Entraineur">
                            </div>
                        </div>
                    </div>
                </div>
            <!-- FIN PREMIERE COLONE POUR INFO JOUEURS -->
            </div>
    <!-- FIN DES 2 COLONES 7 RANGEES POUR INFO DE JOUEURS -->
    </div>


            <button type="submit" class="btn btn-success mb-5">Envoyer</button>
    </form>
</body>
