<br>
<div>
    <ul>
        {{#each meta}}
            {{#each this}}
            <li>
                {{#unless @first}}
                    {{this}}
                {{/unless}}
                {{#if @first}}
                    <b>{{this}}</b>
                {{/if}}
            </li>
            {{/each}}
        {{/each}}
    </ul>
</div>
