<br>
<table class="table mt-5">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Équipe hôte</th>
            <th scope="col">Équipe visiteuse</th>
            <th scope="col">Pointage hôte</th>
            <th scope="col">Pointage visiteur</th>
            <th scope="col">Équipe gagnante</th>
            <th scope="col">    </th>
        </tr>
    </thead>
    <tbody>
        {{#each data.data}}
        <tr>
            {{#each this}}
                {{#unless @last}}
                <td>{{this}}</td>
                {{/unless}}
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
