<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Equipe</th>
      <th scope="col">Date</th>
      <th scope="col">Info</th>
      <th scope="col">Validation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BDEB</td>
      <td>20 mars 2020</td>
      <td>URGENT EN CRISS</td>
      <td><a class="nav-link" href="/validation?id=chiendesbois">Validation</a></td>
    </tr>
  </tbody>
</table>
